{% extends 'style.html' %}
{% block content %}
<head><style>
h2{
    text-align: center;
    font-size: 48px;
    color: blue
}
h6{
    font-size: 40px;
    color: white
}
}
form{
    text-align: center;
    color: green
}
.s{
    text-align: left
}
body{
    color: red;
    font-size: 25px;
    font-family: "arabian", cursive, sans-serif
    }



p{
    color: cyan;
    font-size: 25px
}
</style></head>
<h2>The Coders World.
</h2><form action='user_info'><hr>
LOGIN<input type='submit'><hr>
Login to see further content of this site.
<img src="C:\Python\HTML\templates\codes.jpg" alt="codes">
<body>Hello friends to my website. This site provides you some basic awareness about the language you are going to start.
<h6>What is coding ?</h6>
<p>Coding means using the programming language to get the computer to behave as desired.
 Each line of the code is a set of instructions for the computer. 
 A set of codes form a script, and a set or dozens of sets, form a program<p></body>
{% endblock %}