<head><style>
body{
    background-color: black;
    color: yellow;
    font-size: 16px
}
h1{
    text-align: center;
    color: cyan
}
h2{
    color: cyan;
}
p{
    color: red
}
</style></head>
<h1>
Welcome to our website.</h1>
<body>Hello friends. Your password for our website is {{password}}.
This will help you when you will enter this site next time.
<h2>HACKING</h2>
<p>
Chapter 1: The Fundamentals of Hacking
There are three types of hackers:
1. White hat
2. Black hat
3. Gray hat.
A white hat (also known as ethical) hacker tries to breach network systems in order to help
businesses and organizations in improving their digital defenses. A black hat hacker,
meanwhile, accesses digital records and/or devices for malicious purposes. A gray hat
hacker is a combination of the first two types: he may be a white hat this time and become
a black hat in the next.
Important Note: There are laws that prohibit black hat hacking. You can get incarcerated if
you’ll try to access digital information without the owner’s permission. Because of that,
this book will help you become an ethical hacker. It will provide you with tips, tricks, and
techniques that you can use in hacking systems ethically.
</p></body>
